* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: wheat;
  }
  
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8vh;
    border-bottom: 3px solid red;
    padding: 8vh;
    border-radius: 85px;
    letter-spacing: 3px;
  }
  
  .card_image {
    /* display: flex; */
    width: 300px;
    height: 300px;
    border: 1px solid black;
  }
  
  .cards{
    display: flex;
    flex-direction: row;
    margin:10px;
    width: 100%;
  }
  .card{
    /* display: inline-block; */
    flex-direction: column;
  }